$myFont: 28px Arial, sans-serif;
$myColorGray: #2b3e50;
$myColorWhait: #ffffff;

%boxStyle1 {
	display: flex;
	background: $myColorGray;
	padding: 7px;
	align-items: flex-end;
	justify-content: flex-end;
	color: $myColorWhait;
	box-sizing: border-box;
}

body{
	font: $myFont;
	margin: 0;
	padding: 0;
	text-align: center;
}
.head_block_f{
	display: flex;
	margin: auto;
	height: 277px;
	width: 600px;
}
.gen_block_f{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: space-around;
	width: 300px;
}
.block_f{
	@extend %boxStyle1;
	height: 135px;
	width: 143px;
}
.block2_f{
	@extend %boxStyle1;
	height: 90px;
	width: 93px;
}




