.func_for{
	text-align: center;
	width: 600px;
	margin: auto;
	margin-bottom: 30px;
	padding: 20px;
	background: #cce6ff;
}
.name {
	color: #ffffff;
	background: #6699ff;
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	margin: -20px -20px 10px -20px;
}
.text_func_for{
	font-size: 24px;
	padding: 10px;
}
.inp{
	display: flex;
	margin: auto;
	justify-content: center;
	margin-bottom: 50px;
}
.inp_func_for{
	width: 35px;
	font-size: 24px;
	padding: 10px;
	text-align: center;
}
.out_func_for{
	margin-top: 10px;
	width: 100%;
	font-size: 24px;
	text-align: center;
	resize: none;
}
button {
	display: block;
	margin: auto;
	padding: 10px 30px 10px 30px;
	font-size: 36px;
	border-radius: 10px;
	color: #ffffff;
	background: #6699ff;
	cursor: pointer;
}
#button2 {
	display: inline-block;
	margin: 0px 5px 10px 5px;
	font-size: 16px;
	padding: 5px 19px 5px 19px;
}
#inp_2{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin-bottom: 50px;
	/*border: 1px solid black;*/
}
.inp_word{
	width: 103px;
	margin: 0px 5px 10px 5px;
	font-size: 24px;
	text-align: center;
}